<a href="https://colab.research.google.com/github/mmaruthi/ML-BootCamp-/blob/master/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem Statement ## 

Power outages greatly affected the state of California in 2019. In this competition, you will be given aggregated data consisting of publicly available utility information, publicly available weather data, and U.S. Census data about California cities from October to November 2019. The goal is to predict the number of power outages in the various regions of California from December 1 to December 15, 2019 (inclusive).

## Data Details ## 
There are 12 files provided for this competition:


snapshots.csv – a table that details every time that a snapshot, or record, of ongoing outages was captured (between October 1 and November 30, 2019)


outages.csv –  each row provides information on an outage, including its start time, location, and region affected 

outage_snapshots.csv – the largest table that reconstructs the full history of each outage, in 10-minute increments. This table includes information about the diagnosed cause of the outage and response status, as outlined in the cause.csv and crewCurrentStatus.csv tables


outages_expanded.csv – for each outage, this table provides the earliest recorded snapshot and latest recorded snapshot to determine duration, whether the outage has ended, and how many people may have been impacted by it; it also details the region, latitude, and longitude of the outage

weather.csv – a table containing information captured by weather stations, with additional details from the source documentation (Local Climatological Data (LCD) Documentation PDF provided in zip file)


population.csv – details the population of cities in California


regionName.csv – lookup table for the names of the regions referenced in outages.csv

crewCurrentStatus.csv – lookup table for the status of the crew repairing the outage


cause.csv – a lookup table for the cause of the outage

stations.csv – a lookup table detailing the name, elevation, latitude, and longitude of the weather stations whose data is captured in weather.csv

sample_submission.csv – this file is a sample submission that includes the correct column names, dates, and format to submit your predictions to DLabs

Local Climatological Data (LCD) Dataset Documentation PDF





Note: unless otherwise formatted, time/date data is in UTC timestamp format. You can read in this data using Python's datetime functions (example below).


df['datetime_col'] = df['datetime_col'].apply(lambda x: datetime.utcfromtimestamp(x))

In [5]:
from google.colab import files 
uploaded = files.upload()

Saving MLG_Utility_Data_Competition.zip to MLG_Utility_Data_Competition.zip

In [0]:
import zipfile
import io
data = zipfile.ZipFile(io.BytesIO(uploaded['MLG_Utility_Data_Competition.zip']), 'r')
data.extractall()

In [7]:
data.printdir()

File Name                                             Modified             Size
MLG_Power_Outage_Competition/                  2020-03-17 19:50:04            0
MLG_Power_Outage_Competition/cause.csv         2020-03-15 08:41:30          812
MLG_Power_Outage_Competition/crewCurrentStatus.csv 2020-03-15 08:43:54          408
MLG_Power_Outage_Competition/LCD Dataset Documentation.docx.pdf 2020-03-17 19:45:44       376427
MLG_Power_Outage_Competition/population.csv    2020-03-15 11:30:12        34945
MLG_Power_Outage_Competition/regionName.csv    2020-03-15 08:53:04        14211
MLG_Power_Outage_Competition/sample_submission.csv 2020-03-15 10:29:38        13410
MLG_Power_Outage_Competition/stations.csv      2020-03-15 10:19:52          638
MLG_Power_Outage_Competition/train/            2020-03-16 22:27:58            0
MLG_Power_Outage_Competition/train/outage_snapshots.csv 2020-03-15 09:54:44    241130133
MLG_Power_Outage_Competition/train/outages.csv 2020-03-15 09:54:04      9111725
MLG_Power_Outage_Competition/train/outages_expanded.csv 2020-03-15 10:04:10      3944836
MLG_Power_Outage_Competition/train/snapshots.csv 2020-03-15 10:07:36       608239
MLG_Power_Outage_Competition/weather.csv       2020-03-15 10:19:54      1920713

In [36]:
import os
items = os.listdir('MLG_Power_Outage_Competition')
items1 = os.listdir('MLG_Power_Outage_Competition/train')
print(items)
print(items1)

['weather.csv', 'cause.csv', 'regionName.csv', 'crewCurrentStatus.csv', 'population.csv', 'stations.csv', 'LCD Dataset Documentation.docx.pdf', 'sample_submission.csv', 'train']
['outages.csv', 'snapshots.csv', 'outage_snapshots.csv', 'outages_expanded.csv']

In [37]:
import numpy as np 
import pandas as pd 

for each_csv in items:
    if each_csv.endswith (".csv"):
       print(each_csv)
       dataread = pd.read_csv("MLG_Power_Outage_Competition/" + each_csv)
       newdata.append(dataread)

for each_csv in items1:
    if each_csv.endswith (".csv"):
       print(each_csv)
       dataread = pd.read_csv("MLG_Power_Outage_Competition/train/" + each_csv)
       newdata.append(dataread)

weather.csv
cause.csv
regionName.csv
crewCurrentStatus.csv
population.csv
stations.csv
sample_submission.csv
outages.csv
snapshots.csv
outage_snapshots.csv
outages_expanded.csv

## There are a total of 11 CSV files which we have to analyze ##
weather.csv ,
cause.csv  ,
regionName.csv ,
crewCurrentStatus.csv ,
population.csv ,
stations.csv ,
sample_submission.csv, 
outages.csv ,
snapshots.csv ,
outage_snapshots.csv ,
outages_expanded.csv

In [41]:
## Cause.csv ## data 

datacause = newdata[1]
datacause

   id                                               name
0   1     Unknown - Utility will be assessing the cause.
1   2  Our preliminary determination is that your out...
2   3  Our preliminary determination is that your out...
3   4  Our preliminary determination is that your out...
4   5  Our preliminary determination is that your out...
5   6  Utility is investigating the cause of your out...
6   7  We are clearing vegetation to address potentia...
7   8  Our preliminary determination is that your out...
8   9  To protect public safety, power in your area h...

In [42]:
dataregion = newdata[2]
dataregion

      id           name
0      1        Auberry
1      2    Bakersfield
2      3        Cambria
3      4  Castro Valley
4      5     Clarksburg
..   ...            ...
911  912         Bowles
912  913         London
913  914       Flournoy
914  915          Tobin
915  916   Dustin Acres

[916 rows x 2 columns]